:root {
    --background-color: #fff;
    --text-color: black;
    --i-text-color: white;
    --i-background-color: #1b1b1b;
}

html[data-theme='light'] {
    --background-color: #fff;
    --text-color: black;
    --i-text-color: white;
    --i-background-color: #1b1b1b;
}

html[data-theme='dark'] {
    --background-color: #1b1b1b;
    --text-color: #F7F8F8;
    --i-text-color: black;
    --i-background-color: #fff;
}